<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Access Denied!</title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/view.css}">
</head>
<body>
<div class="container">
	<div class="header">
    	<h4 class="logo">Jurassic Quest!</h4>
  	</div>
  	
  	<div class="main">
		<h2 style="margin: auto;"> Access-Denied! </h2>
  	</div>
  	

  	<div class="footer" id="contact">
	  <p class="hero_header">Navigation Links</p>
	<div class="nav-buttons">
		<a th:href="@{/}"><div class="button">Home page</div></a>
		</div>
	</div>
</div>
</body>
</html>